In [10]:
import sys, os
sys.path.append(os.path.abspath("../src"))
from config import DB_HOST, DB_PORT, DB_NAME, DB_USER, DB_PASSWORD

DATABASE_URL = f"postgresql://{DB_USER}:{DB_PASSWORD}@{DB_HOST}:{DB_PORT}/{DB_NAME}"

In [14]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sqlalchemy import create_engine

sns.set(style="whitegrid", context="notebook")

engine = create_engine(DATABASE_URL)
stations = pd.read_sql("SELECT * FROM dim_station", engine)
statuses = pd.read_sql("SELECT * FROM fact_station_status", engine)

In [15]:
stations

,station_id,name,latitude,longitude,city,is_active
0,0045c4ba7f11a31d591ab47fcc622eb2,Walsh Park,41.914610,-87.667968,"Chicago, IL",True
1,6f30093831b934a8414a03d487cc56cc,Racine Ave & Broadway,41.968235,-87.659655,"Chicago, IL",True
2,83dd1e9ceff9299708c834ec91298d3e,Big Marsh Park,41.685877,-87.573824,"Chicago, IL",True
3,bc9bcc704d05b8355608c21dd284faf7,Dusable Harbor,41.886976,-87.612813,"Chicago, IL",True
4,c39bf3b3e13fa5d577fe25860b623ea6,Indiana Ave & 103rd St,41.707170,-87.618472,"Chicago, IL",True
...,...,...,...,...,...,...
1905,ff968ba75ff8f8defc7f969d52d86b57,Public Rack - Percy Julian HS,41.705999,-87.653810,"Chicago, IL",True
1906,ffaba2c0ced1dd19c3450ae6bf4f3c48,Public Rack - Rhodes Ave & 79th St,41.751058,-87.611439,"Chicago, IL",True
1907,ffb325b7c243d0632e325b0394fd57c5,Montrose Harbor,41.963982,-87.638181,"Chicago, IL",True
1908,ffd8c4321f62914ebec4f4ec191417bb,Granville Ave & Clark St,41.994400,-87.669830,"Chicago, IL",True
1909,ffff0c7b9c2b0487ecb98a5985815429,Canal St & Harrison St,41.874255,-87.639573,"Chicago, IL",True

In [20]:
stations.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1910 entries, 0 to 1909
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   station_id  1910 non-null   object
 1   name        1910 non-null   object
 2   latitude    1910 non-null   float64
 3   longitude   1910 non-null   float64
 4   city        1910 non-null   object
 5   is_active   1910 non-null   bool
dtypes: bool(1), float64(2), object(3)
memory usage: 76.6+ KB

In [21]:
statuses.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5730 entries, 0 to 5729
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               5730 non-null   int64
 1   station_id       5730 non-null   object
 2   timestamp_utc    5730 non-null   datetime64[ns, UTC]
 3   free_bikes       5730 non-null   int64
 4   empty_slots      5730 non-null   int64
 5   capacity         5730 non-null   int64
 6   occupancy_ratio  5730 non-null   float64
 7   status_label     5730 non-null   object
 8   raw_extra        5730 non-null   object
dtypes: datetime64[ns, UTC](1), float64(1), int64(4), object(3)
memory usage: 403.0+ KB

In [19]:
statuses

,id,station_id,timestamp_utc,free_bikes,empty_slots,capacity,occupancy_ratio,status_label,raw_extra
0,1,000db9b6e3849926d4868caf7096780d,2025-11-16 20:45:24.619673+00:00,6,7,15,0.40,normal,{'uid': 'a3ac8dfb-a135-11e9-9cda-0a87ae2ba916'...
1,2,000e436b8d7bf9fd184d41b156f948cb,2025-11-16 20:45:24.623524+00:00,6,8,15,0.40,normal,{'uid': 'a3a93622-a135-11e9-9cda-0a87ae2ba916'...
2,3,002de9654c7c9dcf1c9f22de778b6669,2025-11-16 20:45:24.642550+00:00,0,1,1,0.00,empty,"{'uid': '1674190286791649784', 'renting': 1, '..."
3,4,003c8c815229c2e4b84b4936ce753108,2025-11-16 20:45:24.570886+00:00,1,14,15,0.07,empty,{'uid': '87d2a090-22cd-471b-b622-fef3923999dd'...
4,5,0045c4ba7f11a31d591ab47fcc622eb2,2025-11-16 20:45:24.588145+00:00,0,22,23,0.00,empty,{'uid': 'a3b38728-a135-11e9-9cda-0a87ae2ba916'...
...,...,...,...,...,...,...,...,...,...
5725,5726,ff968ba75ff8f8defc7f969d52d86b57,2025-11-16 20:45:24.640093+00:00,0,3,3,0.00,empty,"{'uid': '1674190561669557204', 'renting': 1, '..."
5726,5727,ffaba2c0ced1dd19c3450ae6bf4f3c48,2025-11-16 20:45:24.717278+00:00,0,1,1,0.00,empty,"{'uid': '1674190596029295624', 'renting': 1, '..."
5727,5728,ffb325b7c243d0632e325b0394fd57c5,2025-11-16 20:45:24.564965+00:00,17,15,31,0.55,normal,{'uid': 'a3a8999a-a135-11e9-9cda-0a87ae2ba916'...
5728,5729,ffd8c4321f62914ebec4f4ec191417bb,2025-11-16 20:45:24.564776+00:00,7,7,15,0.47,normal,"{'uid': '2142134222222184846', 'renting': 1, '..."
5729,5730,ffff0c7b9c2b0487ecb98a5985815429,2025-11-16 20:45:24.623212+00:00,2,11,15,0.13,empty,{'uid': 'a3a710c5-a135-11e9-9cda-0a87ae2ba916'...

In [17]:
statuses['timestamp_utc'].sort_values()

374    2025-11-16 20:45:24.563984+00:00
4194   2025-11-16 20:45:24.563984+00:00
2284   2025-11-16 20:45:24.563984+00:00
3903   2025-11-16 20:45:24.564006+00:00
1993   2025-11-16 20:45:24.564006+00:00
                     ...
755    2025-11-16 20:45:24.719902+00:00
4575   2025-11-16 20:45:24.719902+00:00
3855   2025-11-16 20:45:24.719912+00:00
1945   2025-11-16 20:45:24.719912+00:00
35     2025-11-16 20:45:24.719912+00:00
Name: timestamp_utc, Length: 5730, dtype: datetime64[ns, UTC]

In [18]:
statuses['timestamp_utc'].sort_values(ascending = False)

3855   2025-11-16 20:45:24.719912+00:00
1945   2025-11-16 20:45:24.719912+00:00
35     2025-11-16 20:45:24.719912+00:00
2665   2025-11-16 20:45:24.719902+00:00
755    2025-11-16 20:45:24.719902+00:00
                     ...
3903   2025-11-16 20:45:24.564006+00:00
1993   2025-11-16 20:45:24.564006+00:00
2284   2025-11-16 20:45:24.563984+00:00
4194   2025-11-16 20:45:24.563984+00:00
374    2025-11-16 20:45:24.563984+00:00
Name: timestamp_utc, Length: 5730, dtype: datetime64[ns, UTC]